<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./images/logo_pequena.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/margin.css" />

    <title><%- title %></title>
    <style>

        .button-row{
            display: flex;
            justify-content: center;
            gap: 10rem;
            align-items: center;
            width: 100%;
        }
        .button_enviar {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #46ff7d;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .button_salvar {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #A3ADE0;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .accordion+.accordion {
            margin-top: 20px;
        }

        .card-header {
            background-color: FFF0A3;
        }

        .btn-group button {
            background-color: #04AA6D;
            border: 1px solid green;
            color: white;
            padding: 10px 24px;
            cursor: pointer;
            float: left;
        }

        .btn-group button:not(:last-child) {
            border-right: none;
        }

        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

        .btn-group button:hover {
            background-color: #3e8e41;
        }
    </style>
</head>

<body class="body">
    <%- include('./partials/cabecalho.ejs') %>
        <div class="container mt-20">
            <div class="accordion" id="accordionExample"
                style="display: flex; flex-direction: column; margin-bottom: 20px;">
                <!-- Item 1 -->
                <!-- container dentro do acordeão -->
                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around; ">
                    
                    <div class="card-header" id="headingOne"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne"
                                style="color: #333333; margin: 0px; text-decoration: none;">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">TIPO DE OCORRENCIA
                                    (PRÉ-HOSPITALAR)</p>
                            </button>
                        </h2>

                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body" style="margin:0px 15px; padding: 0;" id="conteudoItem1">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <%- include('./partials/tipo_de_ocorrencia.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <!-- Item 2 com conteúdo da btn-group que aparece apenas quando o acordeão é aberto -->
                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingTwo"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true" aria-controls="collapseTwo"
                                style="color: #333333; margin: 0px; text-decoration: none;">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">AVALIAÇÃO DO PACIENTE
                                    (Glasgow)</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem2">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingThree"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">SINAIS VITAIS</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem3">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <%- include('./partials/sinais_vitais.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingFour"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">PROBLEMAS ENCONTRADOS
                                    SUSPEITOS</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem4">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>

                </div>
                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingFive"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">LOCALIZAÇÃO DOS TRAUMAS
                                </p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFive" class="collapse show" aria-labelledby="headingFive"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem5">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingSix"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix"
                                aria-expanded="true" aria-controls="collapseSix">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">
                                    FERIMENTOS/FRATURAS/ENTORSES</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseSix" class="collapse show" aria-labelledby="headingSix"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem6">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <%- include('./partials/ferimentos.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingseven"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseseven" aria-expanded="true" aria-controls="collapseseven">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">OBJETOS RECOLHIDOS</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseseven" class="collapse show" aria-labelledby="headingseven"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem7">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <%- include('./partials/objetos_recolhidos.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingEight"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">SINAIS E SINTOMAS</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseEight" class="collapse show" aria-labelledby="headingEight"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem8">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <%- include('./partials/sinais_e_sintomas.ejs') %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingNine"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">QUEIMADURAS</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseNine" class="collapse show" aria-labelledby="headingNine"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem9">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingTen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen"
                                aria-expanded="true" aria-controls="collapseTen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">FORMAS DE CONDUÇÃO</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTen" class="collapse show" aria-labelledby="headingTen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem10">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingEleven"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">DECISÃO DE TRANSPORTE</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem11">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingTwelve"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">VITÍMA ERA</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwelve" class="collapse show" aria-labelledby="headingTwelve"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem12">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingThirteen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">ANAMNESE DA EMERGÊNCIA
                                    MÉDICA</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseThirteen" class="collapse show" aria-labelledby="headingThirteen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem13">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingFourteen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">PROCEDIMENTOS EFETUADOS
                                </p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFourteen" class="collapse show" aria-labelledby="headingFourteen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem14">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingFifteen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseFifteen" aria-expanded="true" aria-controls="collapseFifteen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">AVALIAÇÃO DA CINEMÁTICA
                                </p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseFifteen" class="collapse show" aria-labelledby="headingFifteen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem15">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingSixteen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">OBSERVAÇÕES IMPORTANTES
                                </p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseSixteen" class="collapse show" aria-labelledby="headingSixteen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem16">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingSeventeen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseSeventeen" aria-expanded="true" aria-controls="collapseSeventeen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">MATERIAIS UTILIZADOS
                                    DESCARTÁVEIS</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseSeventeen" class="collapse show" aria-labelledby="headingSeventeen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem17">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingEighteen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseEighteen" aria-expanded="true" aria-controls="collapseEighteen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">MATERIAIS UTILIZADOS
                                    DEIXADOS NO HOSPITAL</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseEighteen" class="collapse show" aria-labelledby="headingEighteen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem18">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingNineteen"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseNineteen" aria-expanded="true" aria-controls="collapseNineteen">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">TERMO DE RECUSA DE
                                    ATENDIMENTO/TRANSPORTE</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseNineteen" class="collapse show" aria-labelledby="headingNineteen"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem19">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingTwenty"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseTwenty" aria-expanded="true" aria-controls="collapseTwenty">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">RESPONSÁVEL PELO
                                    PREENCHIMENTO</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwenty" class="collapse show" aria-labelledby="headingTwenty"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem20">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                    style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                    <div class="card-header" id="headingTwentyOne"
                        style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                        <h2 class="mb-0">
                            <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapseTwentyOne" aria-expanded="true" aria-controls="collapseTwentyOne">
                                <p style="color: #333333; margin: 0px; text-decoration: none;">ANAMNESE GESTACIONAL</p>
                            </button>
                        </h2>
                    </div>

                    <div id="collapseTwentyOne" class="collapse show" aria-labelledby="headingTwentyOne"
                        data-parent="#accordionExample">
                        <div class="card-body" id="conteudoItem21">
                            <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                                <button>Apple</button>
                                <button>Samsung</button>
                                <button>Sony</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card"
                style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                <div class="card-header" id="headingTwentyOne"
                    style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                    <h2 class="mb-0">
                        <button style="text-decoration: none;" class="btn btn-link" type="button" data-toggle="collapse"
                            data-target="#collapseTwentyOne" aria-expanded="true" aria-controls="collapseTwentyOne">
                            <p style="color: #333333; margin: 0px; text-decoration: none;">FINALIZAÇÃO DO RELATORIO</p>
                        </button>
                    </h2>
                </div>

                <div id="collapseTwentyOne" class="collapse show" aria-labelledby="headingTwentyOne"
                    data-parent="#accordionExample">
                    <div class="card-body" id="conteudoItem21">
                        <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;" style="display: flex; flex-direction: column; gap: 10px;">
                            <%- include('./partials/finalizacao_relatorio.ejs') %>
                        </div>
                    </div>
                </div>
            </div>

                <!-- Adicione mais itens de acordeão aqui se necessário -->

            </div>

            <div class="button-row">
                <button style="text-decoration: none;" class="button_salvar" type="submit">Salvar</button>
                <button style="text-decoration: none;" class="button_enviar" type="submit">Enviar</button>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>