<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./images/logo_pequena.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/margin.css" />

    <title><%- title %></title>
    <style>
        .button-row {
            display: flex;
            justify-content: center;
            gap: 10rem;
            align-items: center;
            width: 100%;
        }

        .button_enviar {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #46ff7d;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .button_salvar {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #A3ADE0;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .accordion+.accordion {
            margin-top: 20px;
        }

        .card-header {
            background-color: FFF0A3;
        }

        .btn-group button {
            /* background-color: #04AA6D;
            border: 1px solid green; */
            color: white;
            padding: 10px 24px;
            cursor: pointer;
            float: left;
        }

        .btn-group button:not(:last-child) {
            border-right: none;
        }

        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

        /* .btn-group button:hover {
            /* background-color: #3e8e41; 
        } */
    </style>
</head>

<body class="body">
    <%- include('./partials/cabecalho.ejs') %>
        <div class="container mt-20" style="display: flex; flex-direction: column; min-width: 500px;">
            <form action="/form_alter" method="post" id="formulario">
                <div class="accordion" id="accordionExample"
                    style="display: flex; flex-direction: column; margin-bottom: 20px;">



                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around; ">
                        <div class="card-header" id="headingOne"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">

                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne" onclick="scrollToAccordion(event)"
                                    style="color: #333333; margin: 0px; text-decoration: none;">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">TIPO DE OCORRENCIA
                                        (PRÉ-HOSPITALAR)</p>
                                </button>
                            </h2>

                        </div>
                        <!--                                                   -->
                        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body" style="margin:0px 15px; padding: 0;" id="conteudoItem1">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;"
                                    style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/tipo_de_ocorrencia.ejs') %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <!-- Item 2 com conteúdo da btn-group que aparece apenas quando o acordeão é aberto -->
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTwo"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo" onclick="scrollToAccordion(event)"
                                    style="color: #333333; margin: 0px; text-decoration: none;">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">AVALIAÇÃO DO PACIENTE
                                        (Glasgow)</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem2">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <% if(idade> 5) { %>
                                        <%- include('./partials copy/avaliacao_do_paciente_glasgow.ejs') %>
                                            <% } else { %>
                                                <%- include('./partials copy/avaliacao_paciente_infantil.ejs') %>
                                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingThree"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">SINAIS VITAIS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem3">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/sinais_vitais.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingFour"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="true" aria-controls="collapseFour"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">PROBLEMAS ENCONTRADOS
                                        SUSPEITOS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem4">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/problemas_encontrados_suspeitos.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="card"
                            style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                            <div class="card-header" id="headingFive"
                                style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                                <h2 class="mb-0">
                                    <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                        type="button" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive"
                                        onclick="scrollToAccordion(event)">
                                        <p style="color: #333333; margin: 0px; text-decoration: none;">LOCALIZAÇÃO DOS
                                            TRAUMAS
                                        </p>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseFive" class="accordion-collapse collapse "
                                aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="card-body" id="conteudoItem5">
                                    <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                        <%- include('./partials copy/localizacao_dos_traumas.ejs') %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingEight"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseEight"
                                    aria-expanded="true" aria-controls="collapseEight"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">SINAIS E SINTOMAS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseEight" class="accordion-collapse collapse " aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem8">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/sinais_e_sintomas.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
                                    aria-controls="collapseTen" onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">DECISÃO DE TRANSPORTE
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTen" class="accordion-collapse collapse " aria-labelledby="headingTen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem10">
                                <div class="btn-group"
                                    style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
                                    <%- include('./partials copy/decisao_transporte.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTwelve"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTwelve"
                                    aria-expanded="true" aria-controls="collapseTwelve"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">VÍTIMA ERA</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwelve" class="accordion-collapse collapse "
                            aria-labelledby="headingTwelve" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem12">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/vitima_era.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingFourteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseFourteen"
                                    aria-expanded="true" aria-controls="collapseFourteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">PROCEDIMENTOS
                                        EFETUADOS
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFourteen" class="accordion-collapse collapse "
                            aria-labelledby="headingFourteen" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem14">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/procedimentos_efetuados.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingFifteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseFifteen"
                                    aria-expanded="true" aria-controls="collapseFifteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">AVALIAÇÃO DA
                                        CINEMÁTICA
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFifteen" class="accordion-collapse collapse "
                            aria-labelledby="headingFifteen" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem15">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/avaliacao_cinematica.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingSeventeen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseSeventeen"
                                    aria-expanded="true" aria-controls="collapseSeventeen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">MATERIAIS UTILIZADOS
                                        DESCARTÁVEIS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseSeventeen" class="accordion-collapse collapse "
                            aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem17">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/materiais_utilizados_descartaveis.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingEighteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseEighteen"
                                    aria-expanded="true" aria-controls="collapseEighteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">MATERIAIS UTILIZADOS
                                        DEIXADOS NO HOSPITAL</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseEighteen" class="accordion-collapse collapse "
                            aria-labelledby="headingEighteen" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem18">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/materiais_deixados_hospital.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingThirteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseThirteen"
                                    aria-expanded="true" aria-controls="collapseThirteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">ANAMNESE DA
                                        EMERGÊNCIA
                                        MÉDICA</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseThirteen" class="accordion-collapse collapse "
                            aria-labelledby="headingThirteen" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem13">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials copy/anamnese_emergencia_medica.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(gravida==1) { %>
                        <div class="card"
                            style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                            <div class="card-header" id="headingTwentyOne"
                                style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                                <h2 class="mb-0">
                                    <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                        type="button" data-toggle="collapse" data-target="#collapseTwentyOne"
                                        aria-expanded="true" aria-controls="collapseTwentyOne"
                                        onclick="scrollToAccordion(event)">
                                        <p style="color: #333333; margin: 0px; text-decoration: none;">ANAMNESE
                                            GESTACIONAL
                                        </p>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseTwentyOne" class="accordion-collapse collapse "
                                aria-labelledby="headingTwentyOne" data-parent="#accordionExample">
                                <div class="card-body" id="conteudoItem21">
                                    <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">

                                        <%- include('./partials copy/anamnese_gestacional.ejs') %>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>

                            <div class="card"
                                style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                                <div class="card-header" id="headingseven"
                                    style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                                    <h2 class="mb-0">
                                        <button type="button" style="text-decoration: none;"
                                            class="collapsed btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseseven" aria-expanded="true"
                                            aria-controls="collapseseven">
                                            <p style="color: #333333; margin: 0px; text-decoration: none;">OBJETOS
                                                RECOLHIDOS
                                            </p>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseseven" class="accordion-collapse collapse "
                                    aria-labelledby="headingseven" data-parent="#accordionExample">
                                    <div class="card-body" id="conteudoItem7" onclick="scrollToAccordion(event)">
                                        <div class="btn-group"
                                            style="display: flex; flex-direction: column; gap: 10px;">
                                            <%- include('./partials copy/objetos_recolhidos.ejs') %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card"
                                style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                                <div class="card-header" id="headingSixteen"
                                    style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                                    <h2 class="mb-0">
                                        <button type="button" style="text-decoration: none;"
                                            class="collapsed btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseSixteen" aria-expanded="true"
                                            aria-controls="collapseSixteen" onclick="scrollToAccordion(event)">
                                            <p style="color: #333333; margin: 0px; text-decoration: none;">OBSERVAÇÕES
                                                IMPORTANTES
                                            </p>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseSixteen" class="accordion-collapse collapse "
                                    aria-labelledby="headingSixteen" data-parent="#accordionExample">
                                    <div class="card-body" id="conteudoItem16">
                                        <div class="btn-group"
                                            style="display: flex; flex-direction: column; gap: 10px;">
                                            <div class="textarea_row">
                                                <div style="width: 100%;">
                                                    <p class="checkbox_text">Observações gerais ou importantes</p>
                                                    <div class="did-floating-label-content textarea">
                                                        <textarea class="did-floating-input row_textarea"
                                                            placeholder="Insira o texto"><%= obsgerais %></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card"
                                style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                                <div class="card-header" id="headingTwentyOne"
                                    style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                                    <h2 class="mb-0">
                                        <button type="button" style="text-decoration: none;"
                                            class="collapsed btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseTwentyTwo" aria-expanded="true"
                                            aria-controls="collapseTwentyTwo" onclick="scrollToAccordion(event)">
                                            <p style="color: #333333; margin: 0px; text-decoration: none;">FINALIZAÇÃO
                                                DO
                                                RELATÓRIO</p>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseTwentyTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingTwentyTwo" data-parent="#accordionExample">
                                    <div class="card-body" id="conteudoItem21">
                                        <div class="btn-group"
                                            style="display: flex; flex-direction: column; gap: 10px;">
                                            <%- include('./partials copy/finalizacao_relatorio.ejs') %>
                                        </div>
                                    </div>
                                </div>
                            </div>



                </div>


        </div>
        <div class="button-row">
            <button id="enviar" type="submit" style="text-decoration: none;" onclick="deleteLocal();"
                class="button_enviar">Alterar</button>
        </div>
        <input type="hidden" name="radios1" id="radios1">
        <input type="hidden" name="textareafinal1" id="textareafinal1" value="">
        <input type="hidden" name="inputtextfinal1" id="inputtextfinal1" value="">
        <input type="hidden" name="gravida" id="gravida" value="<%- gravida %>">

        <input type="hidden" name="observ2" value="<%= observ %>">
        <input type="hidden" name="avacine2" value="<%= avacine %>">
        <input type="hidden" name="dct2" value="<%= dct %>">
        <input type="hidden" name="fc2" value="<%= fc %>">
        <input type="hidden" name="obj2" value="<%= obj %>">
        <input type="hidden" name="pbs2" value="<%= pbs %>">
        <input type="hidden" name="pe2" value="<%= pe %>">
        <input type="hidden" name="ss2" value="<%= ss %>">
        <input type="hidden" name="glasgow2" value="<%= glasgow %>">
        <input type="hidden" name="tpo2" value="<%= tpo %>">
        <input type="hidden" name="vte2" value="<%= vte %>">
        <input type="hidden" name="ferimentos2" value="<%= ferimentos %>">
        <input type="hidden" name="final2" value="<%= final %>">
        <input type="hidden" name="anamneemer2" value="<%= anamneemer %>">
        <input type="hidden" name="anamnegesta2" value="<%= anamnegesta %>">
        <input type="hidden" name="mtehosp2" value="<%= mtehosp %>">
        <input type="hidden" name="mtedesc2" value="<%= mtedesc %>">
        <input type="hidden" name="sv2" value="<%= sv %>">
        <input type="hidden" name="talas2" value="<%= talas %>">
        <input type="hidden" name="tff2" value="<%= ttf %>">
        <input type="hidden" name="ataduras2" value="<%= ataduras %>">
        <input type="hidden" name="colar2" value="<%= colar %>">
        <input type="hidden" name="ked2" value="<%= ked %>">
        <input type="hidden" name="kits2" value="<%= kits %>">
        <input type="hidden" name="relatorio2" value="<%= relatorio %>">

        </form>


        </div>
        <%- include('./partials/footer.ejs') %>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script>

                // pega todos os botoes
                const textareafinal = document.querySelectorAll('textarea');
                // Restaura state
                const savedTextareafinal = localStorage.getItem('textareafinal');
                console.log(savedTextareafinal);
                // pega todos os botoes
                const inputtext = document.querySelectorAll('input[type="text"]');
                // Restaura state
                const savedinputtextfinal = localStorage.getItem('inputtext');
                document.addEventListener('DOMContentLoaded', (event) => {
  
    var textareaValues = [];

    textareafinal.forEach(function(textarea) {
    textareaValues.push(textarea.value);
});

    textareafinal.forEach((textarea, index) => {
        // chama state
        const savedText = localStorage.getItem('textareafinal' + index);
        if (savedText) {
            textarea.value = savedText;
        }

        textarea.addEventListener('input', () => {
            // salva conteudo da area de texto
            console.log(textarea.value);
            console.log(index);
            localStorage.setItem('textareafinal' + index, textarea.value);

            // Adiciona o valor de textarea ao array
            textareaValues[index] = textarea.value;
            console.log(textareaValues);
            // pega o campo de entrada oculto
            const hiddenInput = document.getElementById('textareafinal1'); // substitua 'hiddenInputId' pelo id real do seu campo de entrada oculto

            // converte o array textareaValues em uma string
            const textareaValuesString = JSON.stringify(textareaValues);

            // define textareaValuesString como o valor do campo de entrada oculto
            hiddenInput.value = textareaValuesString;
            console.log(hiddenInput.value);
            
        });});
        var inputValues = [];
        inputtext.forEach(function(input) {
    inputValues.push(input.value);
});
                inputtext.forEach((input, index) => {

          

                    const savedText = localStorage.getItem('inputtext' + index);
                    if (savedText) {
                        input.value = savedText;

                    }

                    input.addEventListener('input', () => {
                        // salva conteudo do input
                        console.log(input.value);
                        console.log(index);
                        localStorage.setItem('inputtext' + index, input.value);
                        console.log(localStorage.getItem('inputtext' + index));
                        
                        // Adiciona o valor do input ao array
                        // pega o campo de entrada oculto
                        const hiddenInputtext = document.getElementById('inputtextfinal1'); // substitua 'hiddenInputId' pelo id real do seu campo de entrada oculto
                        inputValues[index] = input.value;
                        // converte o array inputValues em uma string
                        const inputValuesString = JSON.stringify(inputValues);

                        // define inputValuesString como o valor do campo de entrada oculto
                        hiddenInputtext.value = inputValuesString;
                        console.log(inputValues);
                    });
                });
                // Agora, inputValues é um array que contém todos os valores dos inputs
                console.log(inputValues);
                console.log(textareaValues);
           
            
    });




                
                


                function deleteLocal() {
                    console.log(document.getElementById("radios1").value);
                    localStorage.removeItem('radioState');
                    localStorage.removeItem('radiovteState');
                    localStorage.removeItem('checkboxpeState');
                    localStorage.removeItem('annsvState');
                    localStorage.removeItem('perfsvState');
                    localStorage.removeItem('checkboxacState');
                    localStorage.removeItem('radiopesState');
                    localStorage.removeItem('radiopes2State');
                    localStorage.removeItem('radiopes3State');
                    localStorage.removeItem('radiopes4State');
                    localStorage.removeItem('radioStateglasgow');
                    localStorage.removeItem('dctState');
                    localStorage.removeItem('fcState');
                    localStorage.removeItem('kedradioStfftate');
                    localStorage.removeItem('colarradioStfftate');
                    localStorage.removeItem('radiotff');
                    localStorage.removeItem('aov');
                    localStorage.removeItem('radiopbs');
                    localStorage.removeItem('radiomed');
                    localStorage.removeItem('alergiaradio');
                    localStorage.removeItem('ingerirradio');
                    localStorage.removeItem('cod');
                    localStorage.removeItem('checkboxSESState');
                    localStorage.removeItem('radioSESState');
                    localStorage.removeItem('radioSES2State');
                    localStorage.removeItem('radioSES3State');
                    localStorage.removeItem('radioSES4State');
                    localStorage.removeItem('radioSES5State');
                    localStorage.removeItem('ferimentos');
                    localStorage.removeItem('radio_pre_natalState');
                    localStorage.removeItem('radio_pre_natal1State');
                    localStorage.removeItem('radio_pre_natal2State');
                    localStorage.removeItem('radio_pre_natal3State');
                    localStorage.removeItem('radio_pre_natal4State');
                    localStorage.removeItem('radio_bebe');
                    localStorage.removeItem('radio_parto');
                    localStorage.removeItem('radio_p_filho1State');
                    localStorage.removeItem('tempo_med');
                    localStorage.removeItem('tempo_ingestao');
                    localStorage.removeItem('radioState_ataduras');
                    localStorage.removeItem('radioState_KITS');
                    localStorage.removeItem('radioState_talas');
                    textareafinal.forEach((textarea, index) => {
                        localStorage.removeItem('textareafinal' + index);
                        textarea.value = '';
                    });
                    inputtext.forEach((input, index) => {
                        localStorage.removeItem('inputtext' + index);
                        input.value = '';
                    });
                }
                function validateValue(elem) {
                    const value = elem.value;
                    const numVal = value.replace(/\D+/g, "");
                    elem.value = numVal;
                }
                function scrollToAccordion(event) {
                    const accordionHeader = event.currentTarget;
                    setTimeout(() => {
                        let elementPosition = accordionHeader.offsetTop;
                        let offsetParent = accordionHeader.offsetParent;

                        while (offsetParent) {
                            elementPosition += offsetParent.offsetTop;
                            offsetParent = offsetParent.offsetParent;
                        }

                        const headerOffset = 80; // Adjust this value to your needs
                        const offsetPosition = elementPosition - headerOffset;

                        window.scrollTo({
                            top: offsetPosition,
                            behavior: "smooth"
                        });
                    }, 350); // Adjust this value to match the transition duration of your accordion
                }
            </script>
</body>

</html>