<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./images/logo_pequena.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/margin.css" />

    <title><%- title %></title>
    <style>
        .button-row {
            display: flex;
            justify-content: center;
            gap: 10rem;
            align-items: center;
            width: 100%;
        }

        .button_enviar {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #46ff7d;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .button_salvar {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #A3ADE0;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .accordion+.accordion {
            margin-top: 20px;
        }

        .card-header {
            background-color: FFF0A3;
        }

        .btn-group button {
            background-color: #04AA6D;
            border: 1px solid green;
            color: white;
            padding: 10px 24px;
            cursor: pointer;
            float: left;
        }

        .btn-group button:not(:last-child) {
            border-right: none;
        }

        .btn-group:after {
            content: "";
            clear: both;
            display: table;
        }

        .btn-group button:hover {
            background-color: #3e8e41;
        }
    </style>
</head>

<body class="body">
    <%- include('./partials/cabecalho.ejs') %>
        <div class="container mt-20" style="display: flex; flex-direction: column; min-width: 500px;">
            <form action="/form" method="post">
                <div class="accordion" id="accordionExample"
                    style="display: flex; flex-direction: column; margin-bottom: 20px;">


                    <!-- TIRAR O "SHOW" PARA FECHAR OS ACCORDIONS AUTOMATICAMENTE -->

                    <!-- Item 1 -->
                    <!-- container dentro do acordeão -->
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around; ">
                        <div class="card-header" id="headingOne"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">

                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne" onclick="scrollToAccordion(event)"
                                    style="color: #333333; margin: 0px; text-decoration: none;">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">TIPO DE OCORRENCIA
                                        (PRÉ-HOSPITALAR)</p>
                                </button>
                            </h2>

                        </div>
                        <!--                                                  show -->
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body" style="margin:0px 15px; padding: 0;" id="conteudoItem1">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;"
                                    style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/tipo_de_ocorrencia.ejs') %>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <!-- Item 2 com conteúdo da btn-group que aparece apenas quando o acordeão é aberto -->
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTwo"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                    aria-controls="collapseTwo" onclick="scrollToAccordion(event)"
                                    style="color: #333333; margin: 0px; text-decoration: none;">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">AVALIAÇÃO DO PACIENTE
                                        (Glasgow)</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem2">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <% if(idade > 5) { %>
                                    <%- include('./partials/avaliacao_do_paciente_glasgow.ejs') %>
                                    <% } else { %>
                                    <%- include('./partials/avaliacao_paciente_infantil.ejs') %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingThree"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">SINAIS VITAIS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem3">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/sinais_vitais.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingFour"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="true" aria-controls="collapseFour"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">PROBLEMAS ENCONTRADOS
                                        SUSPEITOS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem4">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/problemas_encontrados_suspeitos.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                    </div>
                    


                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingseven"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseseven"
                                    aria-expanded="true" aria-controls="collapseseven">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">OBJETOS RECOLHIDOS
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseseven" class="accordion-collapse collapse show" aria-labelledby="headingseven"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem7" onclick="scrollToAccordion(event)">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/objetos_recolhidos.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingEight"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseEight"
                                    aria-expanded="true" aria-controls="collapseEight"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">SINAIS E SINTOMAS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseEight" class="accordion-collapse collapse show" aria-labelledby="headingEight"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem8">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/sinais_e_sintomas.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true"
                                    aria-controls="collapseTen" onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">DECISÃO DE TRANSPORTE
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTen" class="accordion-collapse collapse show" aria-labelledby="headingTen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem10">
                                <div class="btn-group"
                                    style="display: flex; flex-direction: column; gap: 10px; align-items: center;">
                                    <%- include('./partials/decisao_transporte.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTwelve"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTwelve"
                                    aria-expanded="true" aria-controls="collapseTwelve"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">VÍTIMA ERA</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwelve" class="accordion-collapse collapse show" aria-labelledby="headingTwelve"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem12">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/vitima_era.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingFourteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseFourteen"
                                    aria-expanded="true" aria-controls="collapseFourteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">PROCEDIMENTOS
                                        EFETUADOS
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFourteen" class="accordion-collapse collapse show" aria-labelledby="headingFourteen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem14">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/procedimentos_efetuados.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingFifteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseFifteen"
                                    aria-expanded="true" aria-controls="collapseFifteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">AVALIAÇÃO DA
                                        CINEMÁTICA
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseFifteen" class="accordion-collapse collapse show" aria-labelledby="headingFifteen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem15">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/avaliacao_cinematica.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingSeventeen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseSeventeen"
                                    aria-expanded="true" aria-controls="collapseSeventeen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">MATERIAIS UTILIZADOS
                                        DESCARTÁVEIS</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseSeventeen" class="accordion-collapse collapse show" aria-labelledby="headingSeventeen" 
                        data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem17">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/materiais_utilizados_descartaveis.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingEighteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseEighteen"
                                    aria-expanded="true" aria-controls="collapseEighteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">MATERIAIS UTILIZADOS
                                        DEIXADOS NO HOSPITAL</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseEighteen" class="accordion-collapse collapse show" aria-labelledby="headingEighteen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem18">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/materiais_deixados_hospital.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingThirteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseThirteen"
                                    aria-expanded="true" aria-controls="collapseThirteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">ANAMNESE DA
                                        EMERGÊNCIA
                                        MÉDICA</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseThirteen" class="accordion-collapse collapse show" aria-labelledby="headingThirteen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem13">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/anamnese_emergencia_medica.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% if(gravida !== 0){ %>
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTwentyOne"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTwentyOne"
                                    aria-expanded="true" aria-controls="collapseTwentyOne"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">ANAMNESE GESTACIONAL
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwentyOne" class="accordion-collapse collapse show"
                            aria-labelledby="headingTwentyOne" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem21">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    
                                    <%- include('./partials/anamnese_gestacional.ejs') %>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingSixteen"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseSixteen"
                                    aria-expanded="true" aria-controls="collapseSixteen"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">OBSERVAÇÕES
                                        IMPORTANTES
                                    </p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseSixteen" class="accordion-collapse collapse show" aria-labelledby="headingSixteen"
                            data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem16">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <div class="textarea_row">
                                        <div style="width: 100%;">
                                            <p class="checkbox_text">Observações gerais ou importantes</p>
                                            <div class="did-floating-label-content textarea">
                                                <textarea class="did-floating-input row_textarea"
                                                    placeholder="Insira o texto"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card"
                        style="border: none; background-color: #F1F1F1; display: flex; flex-direction: column; justify-content: space-around;">
                        <div class="card-header" id="headingTwentyOne"
                            style="background-color: #FFF0A3; margin-bottom: 40px; height: 55px; display: flex; justify-content: center; align-items: center; border-radius: 10px; border: none;">
                            <h2 class="mb-0">
                                <button type="button" style="text-decoration: none;" class="collapsed btn btn-link"
                                    type="button" data-toggle="collapse" data-target="#collapseTwentyTwo"
                                    aria-expanded="true" aria-controls="collapseTwentyTwo"
                                    onclick="scrollToAccordion(event)">
                                    <p style="color: #333333; margin: 0px; text-decoration: none;">FINALIZAÇÃO DO
                                        RELATÓRIO</p>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwentyTwo" class="accordion-collapse collapse"
                            aria-labelledby="headingTwentyTwo" data-parent="#accordionExample">
                            <div class="card-body" id="conteudoItem21">
                                <div class="btn-group" style="display: flex; flex-direction: column; gap: 10px;">
                                    <%- include('./partials/finalizacao_relatorio.ejs') %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Adicione mais itens de acordeão aqui se necessário -->

                </div>


        </div>
        </form>
        <div class="button-row">
            <button type="button" style="text-decoration: none;" onclick="deleteLocal();"
                class="button_enviar">Enviar</button>
        </div>
        </div>

        <%- include('./partials/footer.ejs') %>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                <script>
                    // pega todos os botoes
                    const radios = document.querySelectorAll('input[name="radio_TDO"]');
                    // Restaura state
                    const savedRadioState = localStorage.getItem('radioState');
                    // restaura estado dos botoes
                    if (savedRadioState) {
                        savedRadioState.split('').forEach((state, index) => {
                            radios[index].checked = state === '1';
                        });
                    }


                    // evento de mudança de estado
                    radios.forEach((radio, index) => {
                        radio.addEventListener('change', () => {
                            // cria um codigo binario para cada botao
                            let binarytdo = '';
                            radios.forEach((r, i) => {
                                binarytdo += r.checked && i === index ? '1' : '0';
                            });

                            // Save state
                            localStorage.setItem('radioState', binarytdo);


                            console.log(binarytdo);
                        });
                    });
                    // pega todos os botoes
                    const textareafinal = document.querySelectorAll('textarea');
                    // Restaura state
                    const savedTextareafinal = localStorage.getItem('textareafinal');

                    textareafinal.forEach((textarea, index) => {
                        // chama state
                        const savedText = localStorage.getItem('textareafinal' + index);
                        if (savedText) {
                            textarea.value = savedText;
                        }

                    textarea.addEventListener('input', () => {
                        // salva conteudo da area de texto
                        console.log(textarea.value);
                        console.log(index);
                        localStorage.setItem('textareafinal' + index, textarea.value);
                    });
                });
                // pega todos os botoes
                const inputtext = document.querySelectorAll('input[type="text"]');
                // Restaura state
                const savedinputtextfinal = localStorage.getItem('inputtextfinal');

                inputtext.forEach((input, index) => {
                    // chama state
                    const savedinputText = localStorage.getItem('inputtext' + index);
                    if (savedinputText) {
                        input.value = savedText;
                    }

                    input.addEventListener('input', () => {
                        // salva conteudo da area de texto
                        console.log(input.value);
                        console.log(index);
                        localStorage.setItem('inputtextfinal' + index, i.value);
                    });
                });
                function deleteLocal() {
                    localStorage.removeItem('radioState'); radios.value = '00000000000000000000';
                    localStorage.removeItem('radiovteState'); radiosvte.value = '';
                    localStorage.removeItem('checkboxpeState'); checkboxpe.value = '';
                    localStorage.removeItem('annsvState'); annsv.value = '';
                    localStorage.removeItem('perfsvState'); perfsv.value = '';
                    localStorage.removeItem('checkboxacState'); checkboxac.value = '';
                    localStorage.removeItem('radiopesState'); radiopes.value = '';
                    localStorage.removeItem('radiopes2State'); radiopes2.value = '';
                    localStorage.removeItem('radiopes3State'); radiopes3.value = '';
                    localStorage.removeItem('radiopes4State'); radiopes4.value = '';
                    localStorage.removeItem('radioStateglasgow'); radiosglasgow.value = '';
                    localStorage.removeItem('dctState'); dct.value = '';
                    localStorage.removeItem('fcState'); fc.value = '';
                    localStorage.removeItem('kedradioStfftate'); radioked.value = '';
                    localStorage.removeItem('colarradioStfftate'); radiotamanhocolar.value = '';
                    localStorage.removeItem('radiotff'); radiostff.value = '';
                    localStorage.removeItem('aov'); radioaov.value = '';
                    localStorage.removeItem('radiopbs'); radiopbs.value = '';
                    localStorage.removeItem('radiomed'); radiosmed.value = '';
                    localStorage.removeItem('alergiaradio'); radio_alergia.value = '';
                    localStorage.removeItem('ingerirradio'); radioingeriu.value = '';
                    localStorage.removeItem('cod'); radiocod.value = '';
                    localStorage.removeItem('checkboxSESState'); checkboxSES.value = '';

                    textareafinal.forEach((textarea, index) => {
                        localStorage.removeItem('textareafinal' + index);
                        textarea.value = '';
                    });
                    inputtext.forEach((input, index) => {
                        localStorage.removeItem('inputtext' + index);
                        input.value = '';
                    });
                }
                function validateValue(elem) {
                    const value = elem.value;
                    const numVal = value.replace(/\D+/g, "");
                    elem.value = numVal;
                }
                function scrollToAccordion(event) {
                    const accordionHeader = event.currentTarget;

                    setTimeout(() => {
                        let elementPosition = accordionHeader.offsetTop;
                        let offsetParent = accordionHeader.offsetParent;

                        while (offsetParent) {
                            elementPosition += offsetParent.offsetTop;
                            offsetParent = offsetParent.offsetParent;
                        }

                        const headerOffset = 80; // Adjust this value to your needs
                        const offsetPosition = elementPosition - headerOffset;

                        window.scrollTo({
                            top: offsetPosition,
                            behavior: "smooth"
                        });
                    }, 350); // Adjust this value to match the transition duration of your accordion
                }
            </script>
</body>

</html>