<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <title>Document</title>


</head>

<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">N° USB</p>
            <div class="did-floating-label-content textarea">
                <textarea oninput="validateValue(this)" name="textfinal" class="did-floating-input row_textarea"
                    placeholder="Insira o texto"><%= nusb %></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">DESP</p>
            <div class="did-floating-label-content textarea">
                <textarea name="textfinal"  class="did-floating-input row_textarea"
                    placeholder="Insira o texto"><%= despachante %></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">H. CH</p>
            <div class="did-floating-label-content textarea">
                <textarea name="textfinal" class="did-floating-input row_textarea"
                    placeholder="Insira o texto"><%= h_ch %></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">KM FINAL</p>
            <div class="did-floating-label-content textarea">
                <textarea name="textfinal" oninput="validateValue(this)" class="did-floating-input row_textarea"
                    placeholder="Insira o texto"><%= km_final %></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">COD. SIA/SUS</p>
            <div class="did-floating-label-content textarea">
                <textarea name="textfinal" oninput="validateValue(this);" class="did-floating-input row_textarea"
                    placeholder="Insira o texto"><%= codsiasus %></textarea>
            </div>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CÓDIGO</p>
        <label class="custom_checkbox">

            <div class="checkbox_description">
                <p class="checkbox_text"> IR </p>
                <input type="radio" name="radio_cod" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text"> PR </p>
                <input type="radio" name="radio_cod" />
            </div>

        </label>
        
    </div>
    <input type="hidden" name="cod1" />
    <input type="hidden" name="cod" value="<%= cod %>" />
</body>
<script>

    function validateValue(input) {
        // Remove non-numeric characters
    input.value = input.value.replace(/\D/g, '');
        if (input.value.length > 11)
            input.value = input.value.slice(0, 11);
    }
    
            

    // pega todos os botoes
    const radiocod = document.querySelectorAll('input[name="radio_cod"]');
    
    const cod = document.querySelector('input[name="cod"]').value;
                // restaura estado dos botoes
                if (cod) {
                    cod.split('').forEach((state, index) => {
                        radiocod[index].checked = state === '1';
                    });
                }
    // Restaura state
    const savedcodState = localStorage.getItem('cod');
    // restaura estado dos botoes
    if (savedcodState) {
        savedcodState.split('').forEach((state, index) => {
            radiocod[index].checked = state === '1';
        });
    }


    // evento de mudança de estado
    radiocod.forEach((radio, index) => {
        radio.addEventListener('change', () => {
            // cria um codigo binario para cada botao
            let binarycod = '';
            radiocod.forEach((r, i) => {
                binarycod += r.checked && i === index ? '1' : '0';
            });
            document.querySelector('input[name="cod1"]').value = binarycod;
            // Save state
            localStorage.setItem('cod', binarycod);


            console.log(binarycod);
        });
    });

</script>

</html>